@import "variables";

header {

    position: relative;
    height: 150px;

    margin-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;

    background-color: $primary;

    #logo {
        padding-top: 10px;
    }

    #cart {

        position: relative;
        float: right;
    
        width: 270px;
        height: 150px;
    
        background-color: $cart;
    
        a {
            text-transform: uppercase;
        }
    
        .cartlink {
            height: 30px;
            background-color: $background;
            font-size: 14px;
            font-weight: 500;
    
            ul {
                padding: 5px;
                li {
                    margin-left: 30px;
                    margin-right: 5px;
                    float:left;
    
                    a {
                        color: $cart;
                    }
                }
                li:last-child {
                    margin-left: 65px;
                }
            }
        }
    
        .cartcontent {
            padding-left: 25px;
            padding-top: 15px;
            padding-right: 25px;
    
            .svgsizing {
                float: left;
                width: 42px;
                height: 35px;
            }
    
            .cartdata {
                float: left;
    
                .carttotal {
                    font-size: 20px;
                    color: $plain;
                }
                .cartcount {
                    font-size: 12px;
                    color: $cta2;
                }
            }
    
            ul {
                margin-top:25px;
                margin-bottom: 10px;
                font-size: 12px;
                font-weight: 200;
                li {
                    a {
                        float: left;
                        color: $plain;
                    }
                }
            }
        }
    
        .cartsearch {
    
            position: absolute;
            bottom: 0;

            form {
                input {
                    border: none;
    
                    &[type=text] {
                        width: 230px;
                        height: 35px;
                        padding: 13px;
                        background-color: $offwhite;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
    
                    &[type=submit] {
                        width: 35px;
                        height: 35px;
                        color: $plain;
                        background-color: $toned;
                    }
                    
                }
            }
        }
    }
}