@import "reset";

@import "fonts";
@import "variables";
@import "_header";
@import "_menu";
@import "_tags";
@import "_brands";
@import "_footer";
@import "product";
@import "tabs";

// change me to $background
body {
    background-color:lightgrey;
}

.svg {
    display: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

#carticon {
            
    fill:$cta2;
}

#content {
    padding-left:6vw;
    padding-right: 6vw;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    article {

        width: 70%;

        padding-left: 30px;

        
    }

    &:nth-child(n) {

        align-self: flex-start;
    }
}


.placeholder {
    margin-bottom: 75px;
    img {
        width: 100%;
    }
}

.productgallery {
    background-color: lawngreen;

    .gallery-top {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;

        color: $gallery;
        
        .gallerynav {
            float: right;
        }
    }

    
}