@import "reset";

@import "fonts";
@import "variables";
@import "_header";
@import "_menu";
@import "_tags";
@import "_brands";
@import "_footer";
@import "product";
@import "contact";
@import "tabs";


// change me to $background
body {
    background-color:$background;
}

.svg {
    display: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

#carticon {
            
    fill:$cta2;
}

#content {
    padding-left:6vw;
    padding-right: 6vw;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    article {

        width: 70%;

        padding-left: 30px;

        
    }

    &:nth-child(n) {

        align-self: flex-start;
    }
}


.placeholder {
    display: none;
    margin-bottom: 75px;
    img {
        width: 100%;
    }
}

